:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

label {
  display: block;
}

a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}

.dashboard {
  width: 500px;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}
